@keyframes multicolor {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    } 
}
@keyframes mover_izq {
    from {transform: translateX(200px); opacity: 0; filter:blur(5px)}
    to {opacity: 1;filter:blur(0px)}
}

img {
    
    border-radius: 50%;
    animation-name: mover_izq;
    animation-duration: 2s;
}
h1 {
    color: black;
    transform: translateY(20px);
    animation-name: multicolor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.formulario{
    border-color: black;
    border-width: 5px;
    border-radius: 5px;

}
