<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

     <form>
        <label for="nombre">Nombre:</label>
        <input type="text" maxlength="100" name="nombre" id="nombre">
        <br>
        <label for="correo">Correo:</label>
        <input type="mail" placeholder="nombre@usm.cl" maxlength="100" name="correo" id="correo">
        <br>
        <label for="rol">ROL:</label>
        <input type="text" placeholder="Ej: 123456789-1" maxlength="11" name="rol" id="rol">
        <br>
        Sexo:
        <select>
            <option value="Hombre">Hombre</option>
            <option value="Mujer">Mujer</option>
        </select>
        <br>
        <input type="submit" value="Registrarse">
     </form>
</body>
</html>