<!DOCTYPE html>
<html {% load static %}>
<head>
    <title>Horarios</title>
    <link rel="stylesheet" type='text/css' href="{% static "css/style_asignar_horarios.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,600&display=swap" rel="stylesheet">
</head>

<body
style="
background-image: url('{% static "images/form_background.jpg" %}'); 
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed">

    <div id="asignar_horarios">
        <form action="registrado/" method="post" {% csrf_token %}
            <p id="Lunes">LUNES<br>
                <label for="lu1">Bloque 1-2</label>
                <input type="checkbox" id="lu1" name="lu1" value="lu1"><br>

                <label for="lu2">Bloque 3-4</label>
                <input type="checkbox" id="lu2" name="lu2" value="lu2"><br>

                <label for="lu3">Bloque 5-6</label>
                <input type="checkbox" id="lu3" name="lu3" value="lu3"><br>

                <label for="lu4">Bloque 7-8</label>
                <input type="checkbox" id="lu4" name="lu4" value="lu4"><br>

                <label for="lu5">Bloque 9-10</label>
                <input type="checkbox" id="lu5" name="lu5" value="lu5"><br>

                <label for="lu6">Bloque 11-12</label>
                <input type="checkbox" id="lu6" name="lu6" value="lu6"><br>

                <label for="lu7">Bloque 13-14</label>
                <input type="checkbox" id="lu7" name="lu7" value="lu7"><br>

                <label for="lu8">Bloque 15-16</label>
                <input type="checkbox" id="lu8" name="lu8" value="lu8"><br>
            </p>
            <p id="Martes">MARTES<br>
                <label for="lu1">Bloque 1-2</label>
                <input type="checkbox" id="lu1" name="lu1" value="lu1"><br>

                <label for="lu2">Bloque 3-4</label>
                <input type="checkbox" id="lu2" name="lu2" value="lu2"><br>

                <label for="lu3">Bloque 5-6</label>
                <input type="checkbox" id="lu3" name="lu3" value="lu3"><br>

                <label for="lu4">Bloque 7-8</label>
                <input type="checkbox" id="lu4" name="lu4" value="lu4"><br>

                <label for="lu5">Bloque 9-10</label>
                <input type="checkbox" id="lu5" name="lu5" value="lu5"><br>

                <label for="lu6">Bloque 11-12</label>
                <input type="checkbox" id="lu6" name="lu6" value="lu6"><br>

                <label for="lu7">Bloque 13-14</label>
                <input type="checkbox" id="lu7" name="lu7" value="lu7"><br>

                <label for="lu8">Bloque 15-16</label>
                <input type="checkbox" id="lu8" name="lu8" value="lu8"><br>
            </p>
            <p id="Miercoles">MIERCOLES<br>
                <label for="lu1">Bloque 1-2</label>
                <input type="checkbox" id="lu1" name="lu1" value="lu1"><br>

                <label for="lu2">Bloque 3-4</label>
                <input type="checkbox" id="lu2" name="lu2" value="lu2"><br>

                <label for="lu3">Bloque 5-6</label>
                <input type="checkbox" id="lu3" name="lu3" value="lu3"><br>

                <label for="lu4">Bloque 7-8</label>
                <input type="checkbox" id="lu4" name="lu4" value="lu4"><br>

                <label for="lu5">Bloque 9-10</label>
                <input type="checkbox" id="lu5" name="lu5" value="lu5"><br>

                <label for="lu6">Bloque 11-12</label>
                <input type="checkbox" id="lu6" name="lu6" value="lu6"><br>

                <label for="lu7">Bloque 13-14</label>
                <input type="checkbox" id="lu7" name="lu7" value="lu7"><br>

                <label for="lu8">Bloque 15-16</label>
                <input type="checkbox" id="lu8" name="lu8" value="lu8"><br>
            </p>
            <p id="Jueves">JUEVES<br>
                <label for="lu1">Bloque 1-2</label>
                <input type="checkbox" id="lu1" name="lu1" value="lu1"><br>

                <label for="lu2">Bloque 3-4</label>
                <input type="checkbox" id="lu2" name="lu2" value="lu2"><br>

                <label for="lu3">Bloque 5-6</label>
                <input type="checkbox" id="lu3" name="lu3" value="lu3"><br>

                <label for="lu4">Bloque 7-8</label>
                <input type="checkbox" id="lu4" name="lu4" value="lu4"><br>

                <label for="lu5">Bloque 9-10</label>
                <input type="checkbox" id="lu5" name="lu5" value="lu5"><br>

                <label for="lu6">Bloque 11-12</label>
                <input type="checkbox" id="lu6" name="lu6" value="lu6"><br>

                <label for="lu7">Bloque 13-14</label>
                <input type="checkbox" id="lu7" name="lu7" value="lu7"><br>

                <label for="lu8">Bloque 15-16</label>
                <input type="checkbox" id="lu8" name="lu8" value="lu8"><br>
            </p>
            <p id="Viernes">VIERNES<br>
                <label for="lu1">Bloque 1-2</label>
                <input type="checkbox" id="lu1" name="lu1" value="lu1"><br>

                <label for="lu2">Bloque 3-4</label>
                <input type="checkbox" id="lu2" name="lu2" value="lu2"><br>

                <label for="lu3">Bloque 5-6</label>
                <input type="checkbox" id="lu3" name="lu3" value="lu3"><br>

                <label for="lu4">Bloque 7-8</label>
                <input type="checkbox" id="lu4" name="lu4" value="lu4"><br>

                <label for="lu5">Bloque 9-10</label>
                <input type="checkbox" id="lu5" name="lu5" value="lu5"><br>

                <label for="lu6">Bloque 11-12</label>
                <input type="checkbox" id="lu6" name="lu6" value="lu6"><br>

                <label for="lu7">Bloque 13-14</label>
                <input type="checkbox" id="lu7" name="lu7" value="lu7"><br>

                <label for="lu8">Bloque 15-16</label>
                <input type="checkbox" id="lu8" name="lu8" value="lu8"><br>
            </p>
        </form>
    </div>
</body>
</html>