<!DOCTYPE html>
<html {% load static %}>
<head>
    <title>¡Registrate!</title>
    <link rel="stylesheet" type='text/css' href="{% static "css/style_registro.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,600&display=swap" rel="stylesheet">
    <img 
        class="logo_usm" 
        src="{% static "images/logo_usm.png" %}" 
        width="90px" 
        height="90px"
        title="Universidad Tecnica Federico Santa Maria"
        >
    <h1 id="titulo">        
        LEARN TOGETHER
    </h1>
</head>

<body
style="
background-image: url('{% static "images/form_background.jpg" %}'); 
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed"
    <p>
        <img 
        src= "{% static "images/estudiantes.png" %}"
        width="510"
        height="450"
        title="Estudiantes"
        class="img_estudiantes"
        />
        <div id="formulario">
            <p class="center">Registrate ¡Es gratis!</p>
            <form action="registrado/" method="post">{% csrf_token %}
                
                <label for="nombre">Nombre:</label>
                <input required type="text" placeholder="Primer nombre" maxlength="25" name="nombre" id="nombre" class="right boton">
                <br>
                <br>
                    
                <label for="apellido">Apellido:</label>
                <input required type="text" placeholder="Apellido paterno " maxlength="25" name="apellido" id="apellido" class="right boton">
                <br>
                <br>
                    
                <label for="contraseña">Contraseña:</label>
                <input required type="password" placeholder="Min: 8 caracteres" minlength="8" maxlength="15" name="contraseña" id="contraseña" class="right boton">
                <br>
                <br>
                
                <label for="correo">Correo:</label>
                <input required type="email" placeholder="nombre@usm.cl" maxlength="100" name="correo" id="correo" class="right boton">
                <br>
                <br>
                    
                <label for="rol">ROL:</label>
                <input required type="tel" placeholder="Ej: 123456789-1" maxlength="11" name="rol" id="rol" class="right boton">
                <br>
                <br>
                <label for="sexo">Sexo:</label> 
                <select required name="sexo" id="sexo" class="right boton">
                    <option value="Hombre">Hombre</option> 
                    <option value="Mujer">Mujer</option>
                    <option value="Otro">Otro</option>
                </select>
                <br>
                <br>
                <label for="horarios">Ingrese sus horarios libres:</label>
                <textarea required type="text" id="horarios" name="horarios" rows="4" cols="35" placeholder="Formato:Dia/Bloques        Ej:Lunes,56 Martes,1278" class="boton"></textarea>
                <br>
                <br>
                <input type="submit" value="Registrarse" class="boton registrar">
                <p class="pregunta">¿Ya tienes una cuenta?</p>
            </form>
        </div>
    </p>
    
</body>
</html>