@keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    } 
}
@keyframes mover_fade {
    from {transform: translateY(-200px); opacity: 0; filter:blur(5px)}
    to {opacity: 1;filter:blur(0px)}
}
@keyframes mover_fade2 {
    from {transform: translateY(-200px); opacity: 0; filter:blur(5px)}
    to {opacity: 0.9;filter:blur(0px)}
}
body {
    background-color: #070c19;
}
body:hover {
    cursor: default;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-5deg);
    }
    20% {
      transform: rotateZ(4deg);
    }
    25% {
      transform: rotateZ(-4deg);
    }
    30% {
      transform: rotateZ(2deg);
    }
    35% {
      transform: rotateZ(-1deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
.mover:hover {
    animation: wiggle 2s linear infinite;
}
#titulo{
    color: #070c19;
    font-size: 90px;
    font-family: 'Chakra Petch';
    text-shadow: 5px 4px 3px #343c42;
    text-align: right;
    margin-bottom: 15px;
    margin-top: 0px;
    margin-right: 10%;
    animation-name: fade;
    animation-duration: 2s;
}
#minititulo {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 35px;
    font-family: 'Chakra Petch';
    text-shadow: 5px 4px 3px #343c42;
    margin: 10px 0 0 0;
    animation-name: fade;
    animation-duration: 2s;
}
.logo_usm {
    float: left;
    display: inline;
    margin-top: 16px;
    margin-left: 10%;
    animation-name: fade;
    animation-duration: 2s;
}

.img_estudiantes{
    float: left;
    border-radius: 50%;
    animation: mover_fade 1s;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3%;
}

#form_up{
    display: block;
    margin: auto;
    float: right;
    color: white;
    font-family: 'Chakra Petch';
    font-size: 18px;
    animation-name: mover_fade2;
    animation-duration: 1s;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 20px;
    background-color: #002534;
    overflow: hidden;
    padding: 0px 25px 0px 25px;
    margin-right: 10%;
    width: 300px;
    height: 380px;
    box-shadow: 2px 2px 3px #343c42;
    opacity: 0.9;
}
.error {
    text-align: center;
    font-size: 15px;
    color: rgb(255, 80, 80);
    margin: 10px 0;
}
#form_down {
    display: block;
    margin: auto;
    color: white;
    font-family: 'Chakra Petch';
    animation-name: mover_fade2;
    animation-duration: 1s;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 20px;
    background-color: #002534;
    overflow: hidden;
    padding: 0px 25px 0px 25px;
    box-shadow: 2px 2px 3px #343c42;
    width: 90%;
    height: 350px;
    opacity: 0.9;
}
#Lunes {
    width: 10%;
    display: inline-block;
    padding: 15px 30px;
    background-color: rgba(0, 247, 255, 0.2);
    border-radius: 20px;
}
#Martes {
    width: 10%;
    display: inline-block;
    padding: 15px 30px;
    background-color: rgba(0, 255, 0, 0.2);
    border-radius: 20px;
}
#Miercoles {
    width: 10%;
    display: inline-block;
    padding: 15px 30px;
    background-color: rgba(255, 238, 0, 0.2);
    border-radius: 20px;
}
#Jueves {
    width: 10%;
    display: inline-block;
    padding: 15px 30px;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 20px;
}
#Viernes {
    width: 10%;
    display: inline-block;
    padding: 15px 30px;
    background-color: rgba(255, 0, 234, 0.2);
    border-radius: 20px;
}
.logo_lt {
    display: block;
    margin: auto;
    border-radius: 50%;
}

#final {
    float: right;
    width: 20%;
}
.boton {
    float: right;
    font-family: 'Chakra Petch';
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
}
.boton:hover {
    color:white;
    background-color: rgb(3, 102, 72);
}
.boton_registrar {
    display: block;
    margin: auto;
    width: 150px;
    height: 40px;
    font-family: 'Chakra Petch';
    font-size: 25px;
    background-color: rgba(11, 84, 87, 0.2);
    color: white;
    transition: ease 0.2s;
}
.boton_registrar:hover {
    color:white;
    background-color: rgb(3, 102, 72);
    cursor:pointer;
}

.right {
    float: right;
}
.subtitulo {
    text-align: center;
    font-size: 25px;
    margin: 15px 0 30px 0;
}

.pregunta {
    display: block;
    margin: 10px auto;
    font-size: 12px;
    transition: color 0.4s ease;
    width: 140px;
    text-align: center;
    text-decoration: none;
}
.pregunta:hover {
    text-decoration: none;
    cursor: pointer;
    color: aquamarine;
}
.pregunta:link {
    cursor: pointer;
    color: white;
}
.pregunta:visited {
    cursor: pointer;
    color: white;
}
.lista {
    background-color: rgba(255, 255, 255, 0);
    transition: ease 0.2s;
    margin: 2px auto;
    border-radius: 10px;
    padding-left: 5px;

}
.lista:hover {
    background-color: rgba(255, 255, 255, 0.199);
}