<!DOCTYPE html>
<html {% load static %}>
<head>
    <title>¡Registrate!</title>
    <link rel="stylesheet" type='text/css' href="{% static "css/style_homepage.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,600&display=swap" rel="stylesheet">
    <img 
        class="logo_usm" 
        src="{% static "images/logo_usm.png" %}" 
        width="90px" 
        height="90px"
        title="Universidad Tecnica Federico Santa Maria"
        >
    <h1 id="titulo">        
        PAGINA PRINCIPAL
    </h1>
    
</head>
<body
    style="
    background-image: url('{% static "images/homepage_background.jpg" %}'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
    ">
    <div id="bloque_principal">
        <div id="info_usuario">
            <p id="subtitulo">¡Hola {{user.first_name}}! ¿Que deseas estudiar hoy?<br>Estos son tus datos:</p>
            Rol: {{rol}}<br>Ramo seleccionado: {{ramo}}<br><br>HORARIOS LIBRES:<br>{{horarios}}<br>
        </div>
    </div>
    <form>  </form>
    {% if match.items %}
        <p id="subtitulo2">TUS MATCHS:</p>
        <div id="gran_bloque">
            {% for usuario, datos in match.items %}
                <div id="bloque_match">
                    <div id="info_usuario">
                        <p id="subtitulo">{{datos.0}} {{datos.1}}</p>
                        {{datos.2}}<br>
                        Ramo: {{ramo}}<br>
                        Contacto: {{datos.3}}<br><br>
                        HORARIOS EN COMUN:<br>{%for horario in datos.4%}{{horario}}<br>{%endfor%}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div id="gran_bloque_error">
            <p id="subtitulo_error"><br>NO SE HAN ENCONTRADO<br>COINCIDENCIAS<br><br></p>
        </div>
    {% endif %}
        

</body>

<div id="footer">
    <a class="pregunta" href="desloguear/">Cerrar sesion</a>
    <a class="pregunta" href="micuenta/">Mi cuenta</a>
</div>
</html>